* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    font-family: sans-serif;
}

.description {
  color: black;
}

body {
  background-color: #c2afe7;
  text-align: center;
}

h1 {
  color: #876eb8;
}

a:link {
  text-decoration: none;
}


/* this is a comment*/
